__pycache__/
.venv/
*.wav
venv
output
uid.lock
transcription.txt
app/transcribe/models/ggml-base.bin
app/transcribe/models/base.pt
app/transcribe/models/large-v3.pt
app/transcribe/logs/transcript-*.txt
app/transcribe/logs/transcript-*.zip
app/transcribe/logs/ui-*.txt
app/transcribe/logs/Transcribe.log
app/transcribe/logs/response.txt
app/transcribe/logs/ffmpeg.txt
app/transcribe/logs/db.log
app/transcribe/logs/app.db
app/transcribe/logs/whisper.cpp.txt
app/transcribe/mic.wav.bak
app/transcribe/speaker.wav.bak
app/transcribe/logs/deep.json