numpy==1.26.4
openai-whisper==20231117
Wave==0.0.2
openai==1.25.0
customtkinter==5.2.2
PyAudioWPatch==0.2.12.6
pyperclip
PyYAML
soundfile
gtts
# Playsound version 1.3 has issues in playing back audio files
# in case of continuous play back of files in quick succession
playsound==1.2.2
deepgram-sdk==3.2.5
# Use 117 to build for CPU only
# --extra-index-url https://download.pytorch.org/whl/cu117
#--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cu121
torch
bandit==1.7.8
SqlAlchemy==2.0.29
